<h1 class="page-header">Lista de Tarefas</h1>
<div class="well">
  <div class="row">
    <div class="col-md-10">
      <input type="text" class="form-control" placeholder="Digite uma nova tarefa" [(ngModel)]="newTask.title" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)="createTask()">
        Adicionar Tarefa
      </button>
    </div>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks">
    <td>{{ task.id }}</td>
    <td>{{ task.title }}</td>
    <td>
      <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
        <i data-feather="info"></i>
        Detalhes
      </a>
      <button class="btn btn-danger" (click)="deleteTask(task)">
        <i data-feather="trash-2"></i>
        Excluir
      </button>
    </td>
  </tr>
  </tbody>
</table>
