<div style="position: relative">
  <div class="form-group">
    <input class="form-control" type="search" placeholder="Digite para buscar" aria-label="Busca de tarefa">
  </div>
  <div class="list-group" style="position: absolute; width: 100%; left: 0; top: 45px; z-index: 1000">
    <a href="#" class="list-group-item">Listagem</a>
    <a href="#" class="list-group-item">Listagem</a>
    <a href="#" class="list-group-item">Listagem</a>
    <a href="#" class="list-group-item">Listagem</a>
    <a href="#" class="list-group-item">Listagem</a>
  </div>
</div>
